* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", serif;
  font-weight: 500;
}

body {
  background-color: hsl(185, 41%, 84%);
  display: flex;
  justify-content: center;
  padding-top: 15%;
}

.calculator-container {
  font-size: 12px;
  height: 481px;
  width: 920px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.062);
  display: flex;
  justify-content: center;
  gap: 30px;
}

.left-section {
  /* border: 1px solid cyan; */
  width: 379px;
  height: 388px;
}

.right-section {
  border: 1px solid red;
  width: 413px;
  height: 417px;
}

.text-above-box {
  border: 1px solid red;
  height: 6.8rem;
  width: 18rem;
}

.tip-percent-btn {
  width: 117px;
  height: 48px;
  color: white;
  background-color: hsl(183, 100%, 15%);
  font-weight: bold;
  font-size: 26px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-btn {
  width: 117px;
  height: 48px;
  color: hsl(186, 14%, 43%);
  background-color: hsl(189, 41%, 97%);
  border: none;
  font-weight: bold;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-btn:hover {
  background-color: hsl(184, 14%, 56%);
  color: white;
}

.bottom-half-btns {
  padding-top: 10px;
}

.tip-box {
  height: 152px;
  width: 379px;
}

.select-tip-element {
  font-size: 16px;
  font-weight: bold;
  color: hsl(186, 14%, 43%);
}
