* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", serif;
  font-weight: 500;
}

body {
  background-color: hsl(185, 41%, 84%);
  display: flex;
  justify-content: center;
  padding-top: 15%;
}

.calculator-container {
  font-size: 12px;
  height: 21rem;
  width: 40.5rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.062);
  display: flex;
  justify-content: center;
  gap: 30px;
}

.left-section {
  border: 1px solid cyan;
  width: 18rem;
}

.right-section {
  border: 1px solid red;
}

.text-above-box {
  border: 1px solid red;
  height: 6.8rem;
  width: 18rem;
}

.tip-percent-btn {
  width: 5.5rem;
  height: 2rem;
  color: white;
  background-color: hsl(183, 100%, 15%);
}

.custom-btn {
  width: 5.5rem;
  height: 2rem;
  color: white;
  background-color: hsl(189, 41%, 97%);
}

.bottom-half-btns {
}
